module.exports = {
    clientId: 'sdj786sd8f76sdf87',
    ClientSecret: 'f6sd8f76sd76g87fds6g87fds6gsd6g78s',
    spikeHost: 'https://127.0.0.1',
    spikePort: '7894',
    tokenPath:'/path_token',
    scope:['read', 'write'],
    audience: 'name_website',
    publicKeyPath: '/path_publickey',
}